apiVersion: v1
kind: Service
metadata:
  name: atomix-backend
  namespace: atomix-vidcodex
  labels:
    app: atomix-backend
spec:
  type: ClusterIP
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800  # 3 hours
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
  selector:
    app: atomix-backend
